[Unit]
Description=MPD_proxy
After=network.target

[Service]
#EnvironmentFile=/var/www/html/MPD_Streamer.env
User=tvheadend
Group=tvheadend
WorkingDirectory=/var/www/html/MPD_Streamer
ExecStart=/var/www/html/MPD_Streamer/venv/bin/python /var/www/html/MPD_Streamer/f_manifest.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

