[Unit]
Description=MPD_proxy
After=network.target

[Service]
#EnvironmentFile=/var/www/html/MPD_Streamer.env
User=tvheadend
Group=tvheadend
WorkingDirectory=/var/www/html/MPD_Streamer
ExecStart=/usr/bin/python3 -m uvicorn f_manifest:app --host 0.0.0.0 --port 5000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

